@tailwind base;
@tailwind components;
@tailwind utilities;
.center-item {
    text-align: center;
    margin: auto;
}

.type-text {
    padding: 3px;
    text-align: center;
    justify-content: center;
}

.gradient-bg-welcome {
    height: 100%;
    background-color: #FFF;
    background-image: url(../img/homebeijing.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}